/*Navbar*/
.navbar-collapse {
  display: flex;
  justify-content: flex-end;

}
.navbar .dropdown {position:static;}

.navbar .dropdown-menu {
  width:100%;
  left:0;
  right:0;
  top:65px;
  height: 100vh;
  display:none; 
}

/*Konstructor*/
#separate-img {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}
#class {
    font-size: 11px;
    color: #562894;
    font-weight: 500;
}
.share {
  margin-top: 1em;
  border-left: 1px solid grey;
  padding: 0.5em;
  height: 50%;
}
.border1 img{
     width: 50%!important;
    max-width: 50%!important;
    margin-top: 1em ;
}
.ul-list li{
    display: inline-block; 
    width: 24%;
    padding: 10px 0;
}
.ul-list {
    background-color: #F3F3F3;
   
}
.pd-top {
    padding-top: 2rem;
}


@media only screen and (max-width: 769px) {
.all{
  height: 85vh!important;
}
.bg-height p {
  margin-top: 0.4em!important;
}
.bg-height h5 {
  font-size: 1.2em!important;
}
.bg-height p {
  font-size: 0.7em;
}
.btn-media {
  margin-bottom: 1em!important;
}
.btn-bg {
  font-size: 10px;
  width: 85%;
}
.fadeout {
  height: 4em;
}
}
@media only screen and (max-width: 426px) {
  #image img{
    width: 50%!important;
    height: auto!important;
  }
  #image {
    text-align: center!important;
  }
  .share {
    display: none;
  }
  
}
@media only screen and (max-width: 376px) {
.navbar .dropdown {position:static;}

.navbar .dropdown-menu {
  width:290px!important;
  left:0;
  right:0; 
  top:65px;
  height: 100vh!important;
  display:none;
  border: none;  
}
  .ul-list li{
    display: inline-block; 
    width: 23%;
    padding: 10px 0;
    font-size: 0.8em;
}
 
}
@media only screen and (max-width: 361px){
.ul-list li{
    display: inline-block; 
    width: 23%;
    padding: 10px 0;
    font-size: 0.8em!important;
}
.bg-background img {
  width: 60px!important;
  height: 60px!important;
  padding-top: 0.2em!important;
}
.bg-height h5  {
  font-size: 0.5em!important;
  margin: 0!important;
}
.bg-height h6  {
  font-size: 0.3em!important;
}
.bg-height p  {
  font-size: 0.1em!important;
  margin: 0!important;
}
.btn-bg {
  font-size: 4px!important;
  width: 85%!important;
}
.bg-height {
  padding: 0!important;
}
.fadeout {
  height: 0!important;
} 
.all {
  height: 50vh!important;
}
}
@media only screen and (max-width: 321px){

.all {
  height: 40vh!important;
}
.bg-background img {
  width: 65px!important;
  height: 65px!important;
  margin-top: 0.4em;
  margin: 0!important;
} 
}
